beautifulsoup4
fake_useragent
keras
lxml
matplotlib
numpy~=1.24.3
opencv-python
pandas
pillow
projectq
qiskit
requests
rich
scikit-fuzzy
scikit-learn
statsmodels
sympy~=1.12
tensorflow
texttable
tweepy
xgboost
yulewalker
truth-table-generator
mpmath~=1.3.0
big-o-calculator~=0.0.9